<h2>解答</h2>
<h3>考え方1</h3>
<div class="row">
  <div class="col-xs-6">
    <pre id="editor0" style="height: 600px"><%=@ans0%></pre>
  </div>
  <div class="col-xs-6">
    <div class="tab">
      <ul id="tab_head">
        <li class="on">動画</li>
        <li>解説</li>
      </ul>
      <ul id="tab_body">
        <li class="on">
          <p>hogehoge</p>
        </li>
        <li>
          <pre><%=@Commentary0%></pre>
        </li>
      </ul>
    </div>
  </div>
</div>
<h3>考え方2</h3>
<div class="row">
  <div class="col-xs-6">
    <pre id="editor1" style="height: 600px"><%=@ans1%></pre>
  </div>
  <div class="col-xs-6">
    <div class="tab">
      <ul id="tab_head">
        <li class="on">動画</li>
        <li>解説</li>
      </ul>
      <ul id="tab_body">
        <li class="on">
          <p>hogehoge</p>
        </li>
        <li>
          <pre><%=@Commentary1%></pre>
        </li>
      </ul>
    </div>
  </div>
</div>
<h3>考え方3</h3>
<div class="row">
  <div class="col-xs-6">
    <pre id="editor2" style="height: 600px"><%=@ans2%></pre>
  </div>
  <div class="col-xs-6">
    <div class="tab">
      <ul id="tab_head">
        <li class="on">動画</li>
        <li>解説</li>
      </ul>
      <ul id="tab_body">
        <li class="on">
          <p>hogehoge</p>
        </li>
        <li>
          <pre><%=@Commentary2%></pre>
        </li>
      </ul>
    </div>
  </div>
</div>
