<!DOCTYPE html>
<html>
<head>
  <title>Progalgo</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header class="navbar">
    <div class="header-body">
      <div id="logo">plogalgo</div>
      <ul class="header-right">
        <li><%= link_to "ruby文法", ruby_gatebook_path %></li>
        <li><%= link_to "task", task_index_path %></li>
        <li>puzzle</li>
      </ul>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10 main-contents"><%= yield %></div>
      <div class="col-md-1"></div>
    </div>
  </div>
  <!--/*Deferredメソッドでbackground-colorを指定できるようにする*/ -->
  <script
  src="https://code.jquery.com/color/jquery.color-2.1.2.js"
  integrity="sha256-1Cn7TdfHiMcEbTuku97ZRSGt2b3SvZftEIn68UMgHC8="
  crossorigin="anonymous"></script>
  <!--/*　jQuery Validation.js読み込み gem jQuery validation engineが動かなかったため*/-->
  <script src="http://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
  <script>
  $.validator.addMethod("valueNotEquals", function(value, element, arg){
    return arg != value;
  }, "Value must not equal arg.");

  $("#form").validate({
    rules: {
      q1: { valueNotEquals: "false" },
      q2: { valueNotEquals: "false" },
      q3: { valueNotEquals: "false" },
      q4: { valueNotEquals: "false" },
      q5: { valueNotEquals: "false" },
      q6: { valueNotEquals: "false" },
      q7: { valueNotEquals: "false" },
      q8: { valueNotEquals: "false" },
      q9: { valueNotEquals: "false" },
      q10: { valueNotEquals: "false" },
      q11: { valueNotEquals: "false" },
      q12: { valueNotEquals: "false" },
      q13: { valueNotEquals: "false" },
      q14: { valueNotEquals: "false" },
      q15: { valueNotEquals: "false" },
      q16: { valueNotEquals: "false" },
      q17: { valueNotEquals: "false" },
      q18: { valueNotEquals: "false" },
      q19: { valueNotEquals: "false" }

    },
    messages: {
      q1: { valueNotEquals: "wrong answer" },
      q2: { valueNotEquals: "wrong answer" },
      q3: { valueNotEquals: "wrong answer" },
      q4: { valueNotEquals: "wrong answer" },
      q5: { valueNotEquals: "wrong answer" },
      q6: { valueNotEquals: "wrong answer" },
      q7: { valueNotEquals: "wrong answer" },
      q8: { valueNotEquals: "wrong answer" },
      q9: { valueNotEquals: "wrong answer" },
      q10: { valueNotEquals: "wrong answer" },
      q11: { valueNotEquals: "wrong answer" },
      q12: { valueNotEquals: "wrong answer" },
      q13: { valueNotEquals: "wrong answer" },
      q14: { valueNotEquals: "wrong answer" },
      q15: { valueNotEquals: "wrong answer" },
      q16: { valueNotEquals: "wrong answer" },
      q17: { valueNotEquals: "wrong answer" },
      q18: { valueNotEquals: "wrong answer" },
      q19: { valueNotEquals: "wrong answer" }
    }
  });

  function hoge(){
    $('.link').append($("<a></a>",
    {href: "/task/task1ans2",
    "class": "showlink",
    text: "次に進む"}
  ));

  $('.link').addClass("onn");

}

</script>

</body>
</html>
