<!DOCTYPE html>
<html>
<head>
  <title>Progalgo</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header class="navbar">
    <div class="header-body">
      <div id="logo"><%= link_to "plogalgo", root_path %></div>
      <ul class="header-right">
        <li><%= link_to "ruby文法", ruby_gatebook_path %></li>
        <li><%= link_to "task", task_index_path %></li>
        <li>puzzle</li>
        <% if user_signed_in? %>
        <li><%= link_to "#{current_user.email}ログアウト", destroy_user_session_path, method: :delete %></li>
        <% else %>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10 main-contents"><%= yield %></div>
      <div class="col-md-1"></div>
    </div>
  </div>
  <!--/*Deferredメソッドでbackground-colorを指定できるようにする*/ -->
  <script
  src="https://code.jquery.com/color/jquery.color-2.1.2.js"
  integrity="sha256-1Cn7TdfHiMcEbTuku97ZRSGt2b3SvZftEIn68UMgHC8="
  crossorigin="anonymous"></script>
</body>
</html>
